.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 300px;
    margin:-60px 0 0 -75px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.doNotSpin {
    position: absolute;
    top: 50%;
    left: 50%;
     width: 150px;
    height: 300px;
    margin:-60px 0 0 -75px;

}

.flip {
    position: absolute;
    top: 50%;
    left: 50%;
     width: 150px;
    height: 300px;
    margin:-60px 0 0 -75px;
    -webkit-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);

}

.background1 {
    background: #722f37;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.analyser2 {
    color: black;
    margin-top: 10%;
}

.analyser {
     position: absolute;
    top: 10%;
    left: 50%;
     width: 650px;
    height: 220px;
    margin: 0px 0 0 -325px;
}

.black {
    color: black;
    font-family: "Verdana";
    font-size: 17px;
}

.blackTitle {
    color: black;
}

.white {
    color: white;
}

.ocena {
    color: black;
    font-family: "Verdana";
    font-size: 80px;
}
#izpis1{
    z-index:  100;
}
.chart2 {
     background: #cccccc;
}
h3 {
    margin-top: 5%;
    text-align: center;
}
#grafi{
    width: 20%;
    height:3em;
    margin: 0 auto;
    
}