  #myChart{
     height: 100%;
     width: 100%;
    }
  #myChart2{
     height: 150%;
     width: 100%;
     
    }
     #myChart3{
     height: 100%;
     width: 100%;
    }
    
    

    .zc-ref {
      display: none;
    }

