<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>..::  Title ::..</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <script type="text/javascript" src="../js/Skripti.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
    		
  </head> 
  <body id="background" class="background1">
    
      <div id= "chart2" class="d-none">
        <div style = "float:left , width:50%">
          <div id="myChart"></div>
          </div>
          <div style = "float:right , width:50% " >
           
          </div>
        
        
      </div>
    
      <div id="izpis1" class="d-none">
            <h3 style="color:black">Your score equals: <span style="color:black" id="spam1"></span><br><span style="color:black" id="spam2"></span></h3> 
            <br>
           
            <input id="grafi" type="button" class="btn btn-primary btn-lg btn-block" value="Details"></button>
      </div>
      
      <div id= "chart3" class="d-none">
        <div style = "float:left , width:50%">
          <div id="myChart2"></div>
          <div id="opozorilo" style="color:black" >
              <h4>Important! Atribute '<spam id="dela"></spam>' stands out. Please, double check your inputs. </h4>
        <div>
          </div>
          <div style = "float:right , width:50% " >
          </div>
            
		          <div id='myChart8'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>

            </div>
          </div>
        
        
      </div>
   
    
    
    <div id="ocenaInTekst" class="d-none">
      <p class = "black"></p>
      <br>
      <po id="ocena" class = "ocena"></p>
    </div>
    
    
    <div>
        <img id="MiddleCircle3"  class="flip opacity0" src="../Images/WineGlass.png" alt="" width="120" height="120">
        <img id="MiddleCircle2"  class="flip opacity0" src="../Images/WineGlassHalf.png" alt="" width="120" height="120">
        <img id="MiddleCircle"  class="doNotSpin" src="../Images/WineGlassFull.png" alt="" width="120" height="120">
        <img id="analyser" class="analyser" src= ../Images/WineAnalyser.png></img>
    </div>  
    
  
  
    <div id="vprasalnik" class="opacity0 d-none">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2 class="mb-3 centered blackTitle"><center>Wine Data</center></h2>
          <form class="needs-validation black" novalidate>
                <label for="colour">Colour:</label>
                <div class="d-block my-3">
                  <div class="custom-control custom-radio">
                    <input id="Red" name="colour" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="Red">Red</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input id="White" name="colour" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="White">White</label>
                  </div>
                </div>
                <div class="invalid-feedback">
                  Wine colour must be specified.
                </div>

            <div class="mb-3">
              <label for="fixedAcidity">Fixed Acidity:</label>
              <div class="input-group">
                <input type="text" class="form-control" id="fixedAcidity" placeholder="" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Fixed Acidity value must be specified.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="volatileAcidity">Volatile Acidity:</label>
              <input type="text" class="form-control" id="volatileAcidity" placeholder="">
              <div class="invalid-feedback">
                Volatile Acidity value must be specified.
              </div>
            </div>

            <div class="mb-3">
              <label for="citricAcid">Citric Acid:</label>
              <input type="text" class="form-control" id="citricAcid" placeholder="" required>
              <div class="invalid-feedback">
                 Citric Acid value must be specified.
              </div>
            </div>

            <div class="mb-3">
              <label for="residualSugar">Residual Sugar:</label>
              <input type="text" class="form-control" id="residualSugar" placeholder="">
              <div class="invalid-feedback">
                 Residual Sugar value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="chlorides">Chlorides:</label>
              <input type="text" class="form-control" id="chlorides" placeholder="">
              <div class="invalid-feedback">
                 Chlorides value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="freeSulfurDioxide">Free Sulfur Dioxide:</label>
              <input type="text" class="form-control" id="freeSulfurDioxide" placeholder="">
              <div class="invalid-feedback">
                 Free Sulfur Dioxide value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="totalSulfurDioxide">Total Sulfur Dioxide:</label>
              <input type="text" class="form-control" id="totalSulfurDioxide" placeholder="">
              <div class="invalid-feedback">
                 Total Sulfur Dioxide value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="density">Density:</label>
              <input type="text" class="form-control" id="density" placeholder="">
              <div class="invalid-feedback">
                 Density value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="pH">pH:</label>
              <input type="text" class="form-control" id="pH" placeholder="">
              <div class="invalid-feedback">
                 pH value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="sulphates">Sulphates:</label>
              <input type="text" class="form-control" id="sulphates" placeholder="">
              <div class="invalid-feedback">
                 Sulphates value must be specified.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="alcohol">Alcohol:</label>
              <input type="text" class="form-control" id="alcohol" placeholder="">
              <div class="invalid-feedback">
                 Alcohol value must be specified.
              </div>
            </div>
            <hr class="mb-4">
            <input id="gumb" type="button" class="btn btn-primary btn-lg btn-block" value="Submit"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
        
      
  </div>
  

  </body>
</html>